{% extends "classnotes/base_classnotes.html" %}
{% load staticfiles %}
{% load common_tags %}

{% block tab4 %} class="active" {% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(() => {
    $("#id_service_select").select2();
    $('#id_assign_form').on('submit', () => {
      $('#loading').show();
    });
  });
</script>
{% endblock scripts %}


{% block classnotes_content %}

<h2 style="margin-bottom: 25px;">Assign Class Notes</h2>

<form id="id_assign_form" action="#"  method="post" >
  <div class="row" style="margin-left:15px;">
    {% csrf_token %}
    <label for="id_week_select">Choose Week: </label>
    <select id="id_week_select" name="week">
      {% for y in week_range %}
          <option
          value="{{ y }}" {% if y == weekinit %} selected="selected" {% endif %}
          >{{ y }}</option>
      {% endfor %}
    </select>
  </br>
    <input id="assign_classnotes" name="assign_classnotes" class="btn btn-success" type="submit" value="Assign" style="margin-top:15px;"></input>
    <img src="../../static/classnotes/img/temp.gif" id="loading" style="display:none; width:30px; margin-top: 13px; margin-left: 10px;"/>
  </div>
</form>

{% endblock %}
