{% extends "base.html" %}
{% load common_tags %}

{% block title %}Class Notes{% endblock %}
{% block scripts %}
<script type="text/javascript">
  $(document).ready(() => {
    $("#id_service_select").select2();
    $('#id_assign_form').on('submit', () => {
      $('#loading').show();
    });
  });
</script>
{% endblock scripts %}
{% block content %}

<h1 Style="margin-top:42px; margin-bottom:48px;">Class Notes</h1>
  {% if request.user.type == 'T' %}
    <ul class="nav nav-tabs" role="tablist" style="margin-top:20px;">
      <li {% block tab1 %}{%endblock%}><a href="{% url 'classnotes:classnotes_list' %}">Home</a></li>
      <li {% block tab2 %}{%endblock%}><a href="{% url 'classnotes:classnotes_single_trainee' %}">Detailed Report</a></li>
      <li {% block tab3 %}{%endblock%}><a href="{% url 'classnotes:classnotes_report' %}">Summary Report</a></li>
      <li {% block tab4 %}{%endblock%}><a href="{% url 'classnotes:classnotes_assign' %}">Assign</a></li>
    </ul>
  {% endif %}

  {% block classnotes_content %}{% endblock %}

{% endblock %}
