{% extends "classnotes/base_classnotes.html" %}

{% load staticfiles %}
{% load common_tags %}

{% block references %}
<link rel="stylesheet" href="{% static 'classnotes/css/classnotes.css' %}" />
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'classnotes/js/click-all.js' %}"></script>
  <script type="text/javascript" src="{% static 'classnotes/js/checkboxes.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(() => {
      $('#trainee_list').select2()
      .on("select2:select", (e) => {
          $('#id_detail_form').submit();
        });
    });
  </script>

{% endblock %}

{% block tab2 %} class="active" {% endblock %}

{% block classnotes_content %}

<h2> Class Notes Detail for {{selected_trainee.full_name}} </h2>
<form id="id_detail_form">
  <select id="trainee_list" name="trainee_list">
    {% for choice in trainee_list %}
      <option {% if selected_trainee.id == choice.id %}selected="selected"{% endif %} value="{{choice.id}}">{{choice.firstname}} {{choice.lastname}}</option>
    {% endfor %}
  </select>
</form>

{% if not detail %}
</br>
<em>No missed classes</em>
{% endif %}
  <table id="id_report_table"class="table table-hover">
    <thead>
      <tr>
        <th>Class</th>
        <th>Count</th>
        <th>Owed</th>
      </tr>
    </thead>

    <tbody>
      {% for ev, c in detail.items %}
      <tr>
        <td>{{ev}}</td>
        <td>{{c.count}}</td>
        <td>{{c.owed}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>


<div class="panel-body">
  <form role="form" action="" method="post">
  {% csrf_token %}

  <table class="table table-hover table-condensed" id="mytable">
    <thead>
      <tr>
        <th> ID </th>
        <th> Event </th>
        <th> Date Assigned </th>
        <th> Due Date </th>
        <th> Status </th>
        <th> Action </th>
        <th><input type="checkbox" id="checkall" /></th>
      </tr>
    </thead>

    <tbody>
    {% for classnote in classnotes_pending %}
    <tr>
        <td>{{classnote.id}}</td>
        <td>{{classnote.event.name}}</td>
        <td>{{classnote.date_assigned|date:"m/d/y"}}</td>
        <td>{{classnote.date_due|date:"m/d/y"}}</td>
        <td>
          {% if classnote.past_due %}
            <strong style="text-align:left;">Past Due:</strong>
          {% endif %}
          <p style="text-align:right;">
          {% if classnote.approved %}
            Approved
            <svg height="20px" width="20px">
                <circle cx="10" cy="10" r="5" fill="#A6C5D1"/>
              </svg>
          {% elif classnote.pending %}
            Pending
            <svg height="20px" width="20px">
                <circle cx="10" cy="10" r="5" fill="none" stroke="#A6C5D1" stroke-width="1"/>
              </svg>
          {% elif classnote.unsubmitted %}
            Unsubmitted
            <svg height="20px" width="20px">
              <circle cx="10" cy="10" r="5" fill="#E85328"/>
            </svg>
          {% elif classnote.fellowship %}
            Marked for fellowship
            <svg height="20px" width="20px">
                <circle cx="10" cy="10" r="5" fill="#F69D74"/>
              </svg>
          {% endif %}
           </p>
        </td>
        <td>
            <button class="btn-ta btn-approve"> </button>
            <button class="btn-ta btn-denied"> </button>
            <form action="{% url 'classnotes:classnotes_approve' classnote.pk %}" class="btn-ta">
              <button class="btn-ta btn-edit" type="submit"></button>
            </form>
            <!--<a href="{% url 'classnotes:classnotes_approve' classnote.pk %}" class="btn-edit"></a>-->
            <button class="btn-ta btn-delete"> </button>
            <button class="btn-ta btn-transfer"> </button>
        </td>
        <td>
            <input type="checkbox" name="selection" value="{{classnote.pk}}"></input> 
        </td>
      </tr>
    {% endfor %}


    {% for classnote in classnotes_other %}
    <tr>
        <td>{{classnote.id}}</td>
        <td>{{classnote.event.name}}</td>
        <td>{{classnote.date_assigned|date:"m/d/y"}}</td>
        <td>{{classnote.date_due|date:"m/d/y"}}</td>
        <td>
          {% if classnote.past_due %}
            <strong>Past Due:</strong>
          {% endif %}
          {% if classnote.approved %}
            Approved
            <svg height="20px" width="20px">
                <circle cx="10" cy="10" r="5" fill="#A6C5D1"/>
              </svg>
          {% elif classnote.pending %}
            Pending
            <svg height="20px" width="20px">
                <circle cx="10" cy="10" r="5" fill="none" stroke="#A6C5D1" stroke-width="1"/>
              </svg>
          {% elif classnote.unsubmitted %}
            Unsubmitted
            <svg height="20px" width="20px">
              <circle cx="10" cy="10" r="5" fill="#E85328"/>
            </svg>
          {% elif classnote.fellowship %}
            Marked for fellowship
            <svg height="20px" width="20px">
                <circle cx="10" cy="10" r="5" fill="#F69D74"/>
              </svg>
          {% endif %}
        </td>
        <td>
            <button class="btn-ta btn-approve"> </button>
            <button class="btn-ta btn-denied"> </button>
            <form action="{% url 'classnotes:classnotes_approve' classnote.pk %}" class="btn-ta">
              <button class="btn-ta btn-edit" type="submit"></button>
            </form>
            <!--<a href="{% url 'classnotes:classnotes_approve' classnote.pk %}" class="btn-edit"></a>-->
            <button class="btn-ta btn-delete"> </button>
            <button class="btn-ta btn-transfer"> </button>
        </td>
        <td>
            <input type="checkbox" name="selection" value="{{classnote.pk}}"></input> 
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    <button type="submit" name="approve" class="btn btn-success">Approve Selected</button>
    <button type="submit" name="hard_copy_approve" class="btn btn-success">Hard Copy Approve</button>
    <button type="submit" name="fellowship" class="btn btn-warning">Mark for Fellowship Selected</button>
    <button type="submit" name="delete" class="btn btn-danger">Delete Selected</button>
  </form>
</div>
{% if classnotes_pending %}
{% else %}
<em>No pending classnotes</em>
{% endif %}
{% endblock %}
