{% extends "classnotes/base_classnotes.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block classnotes_content %}
      <h3>Reviewing class notes for <b>{{classnotes.trainee.full_name}}</b>
        <div class="pull-right">
        {% if prev_classnotes != -1 %}
          <a href="{% url 'classnotes:classnotes_approve' prev_classnotes %}" class="btn btn-primary" role="button">Prev</a>
        {% endif %}
        {% if next_classnotes != -1 %}
          <a href="{% url 'classnotes:classnotes_approve' next_classnotes %}" class="btn btn-primary" role="button">Next</a>
        {% endif %}
        </div>
      </h3>

      <h2>{{classnotes.event.name}} &mdash; {{classnotes.date}}</h2>
      <p>{{classnotes.content}}</p>
      <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div style="padding-bottom: 10px;">
          Date Submitted: {{classnotes.date_submitted}}
              {% if classnotes.approved %}
                | Approved
                <svg height="20px" width="20px" style="padding-top: 5px;">
                  <circle cx="10" cy="10" r="5" fill="#A6C5D1"/>
                </svg>
              {% else %}
                – Not Approved
                </svg>
              {% endif %}
              {% if classnotes.fellowship %}
                | Marked for fellowship
                <svg height="20px" width="20px" style="padding-top: 5px;">
                  <circle cx="10" cy="10" r="5" fill="#F69D74"/>
                </svg>
              {% endif %}
              </br>
        </div>
        <button name="save" type="submit" class="btn btn-primary btn-sm">Save</button>
        {% if not classnotes.approved %}
          {% if not classnotes.fellowship %}
              <button name="fellowship" type="submit" class="btn btn-warning btn-sm">Fellowship</button>
          {% else %}
              <button name="unfellowship" type="submit" class="btn btn-warning btn-sm">Remove Fellowship</button>
          {% endif %}
          <button name="approve" type="submit" class="btn btn-success btn-sm">Approve</button>
          <button name="hard_copy_approve" type="submit" class="btn btn-success btn-sm">Hard copy Approve</button>
        {% else %}
          <button name="unapprove" type="submit" class="btn btn-danger btn-sm">Un-Approve</button>
        {% endif %}
      </form>

{% endblock %}
