<div id="flashcards" class="greek tab-pane" role="tabpanel">
  <div class="flashcard-chapters">
    <div class="flashcard-chapter">
      <select id="chapter-start" class="form-control">
      {% for ch in chapters %}
        <option value="{{ch}}">
          Chapter {{ch}}
        </option>
      {% endfor %}
      </select>
    </div>
    <div class="text-center flashcard-chapter-text">
      to
    </div>
    <div class="flashcard-chapter">
      <select id="chapter-end" class="form-control" >
      {% for ch in chapters %}
        <option value="{{ch}}">
          Chapter {{ch}}
        </option>
      {% endfor %}
      </select>
    </div>
  </div>
  <div class="flashcard-container">
    <div id="flashcard-card">
      <div id="flashcard-text"></div>
    </div>
    <div>
      <div id="archive-container">
        <input type="checkbox" id="archive-flag"> Archive
      </div>
      <div id="flashcard-index">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let isFront = true;
  let greekVocabList = [];
  let updateChapUrl = "{% url 'greek:changeChapterRange' %}";
  let startingChapter = 1;
  let endingChapter = 1;
  let currentVocabIdx = 0;

  function updateIndexText() {
    $("#flashcard-index").text(`${currentVocabIdx+1}/${greekVocabList.length}`);
  }

  function updateArchiveCheckbox() {
    if (isFront) {
      // hide archive checkbox
      $("#archive-container").hide();
    } else {
      // show archive checkbox
      $("#archive-container").show();
    }
  }

  function updateFlashcard() {
    if (isFront) { // show Greek
      $("#flashcard-text").text((greekVocabList[currentVocabIdx]).fields.greek);
      $("#flashcard-card").css("background-color", "#eee");
    } else { // show English
      $("#flashcard-text").text(greekVocabList[currentVocabIdx].fields.english);
      $("#flashcard-card").css("background-color", "#fff");
    }
  }

  function updateVocabList() {
    $.ajax({
      type: "GET",
      url: updateChapUrl,
      dataType: "json",
      data: {
        "startingChapter": startingChapter,
        "endingChapter": endingChapter,
      },
      success: function (data) {
        greekVocabList = shuffleCards(data, data.length);
        // reset current index
        currentVocabIdx = 0;
        isFront = true;
        updateFlashcard();
        updateArchiveCheckbox();
        updateIndexText();
      }
    });
  }

  function changeStartingChapter() {
    startingChapter = document.getElementById("chapter-start").value;

    // if the new starting chapter is greater than the ending chapter,
    // do not update greek vocabs
    if (startingChapter > endingChapter) {
      return;
    }

    updateVocabList();
  }

  function changeEndingChapter() {
    endingChapter = document.getElementById("chapter-end").value;

    // if the new ending chapter is smaller than the starting chapter,
    // do not update greek vocabs
    if (endingChapter < startingChapter ) {
      return;
    }

    updateVocabList();
  }

  // A function to shuffle a random permutation of arr[]
  // Input:
  //   arr - an array of vocab
  //   n - the length of array
  // Output:
  //   arr - an array of randomized vocab
  function shuffleCards(arr, n) {
    /*
      Fisher-Yates shuffle Algorithm:
      To shuffle an array a of n elements (indices 0..n-1):
        for i from n - 1 downto 1 do
          j = random integer with 0 <= j <= i
          exchange a[j] and a[i]
      */
    let newArr = arr;
    for (let i = n - 1; i > 0; i--) {
      // A random number between min and max (both included)
      // Math.floor(Math.random() * (max - min + 1) ) + min
      let j = Math.floor(Math.random() * (i + 1))

      let temp = newArr[j];
      newArr[j] = newArr[i];
      newArr[i] = temp;
    }
    return newArr;
  }

  function flipCard() {
    let isArchived = $("#archive-flag").val();
    console.log(isArchived);

    // reset archive-flag
    $("#archive-flga").prop("checked", false);

    if (!isFront) {
      // update index to next card
      if (currentVocabIdx < greekVocabList.length - 1) {
        currentVocabIdx += 1;
      } else {
        currentVocabIdx = 0;
      }
    }
    isFront = !isFront;
    updateFlashcard();
    updateArchiveCheckbox();
    updateIndexText();
  }

  $(document).ready(function() {
    updateVocabList();
    $("#chapter-start").on('change', changeStartingChapter);
    $("#chapter-end").on('change', changeEndingChapter);
    $("#flashcard-card").click(flipCard);
  });
</script>
