<div id="flashcards" class="greek tab-pane" role="tabpanel">
  <div class="chapters-container">
    <div class="chapter-container">
      <select id="fc-chapter-start" class="form-control">
      {% for ch in chapters %}
        <option value="{{ch}}">
          Chapter {{ch}}
        </option>
      {% endfor %}
      </select>
    </div>
    <div class="text-center chapter-text">
      to
    </div>
    <div class="chapter-container">
      <select id="fc-chapter-end" class="form-control" >
      {% for ch in chapters %}
        <option value="{{ch}}">
          Chapter {{ch}}
        </option>
      {% endfor %}
      </select>
    </div>
  </div>
  <div class="flashcard-container">
    <div id="flashcard-card">
      <div id="flashcard-text"></div>
    </div>
    <div class="foot">
      <div id="archive-placeholder">
        <div id="archive-container">
          <input type="checkbox" id="archive-flag"> Archive
        </div>
      </div>
      <div id="flashcard-index">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let isFront = true;
  let greekVocabList_fc = [];
  let startingChapter_fc = 1;
  let endingChapter_fc = 1;
  let currentVocabIdx_fc = 0;

  function updateIndexText() {
    $("#flashcard-index").text(`${currentVocabIdx_fc+1}/${greekVocabList_fc.length}`);
  }

  function updateArchiveCheckbox() {
    if (isFront) {
      // hide archive checkbox
      $("#archive-container").hide();
    } else {
      // show archive checkbox
      $("#archive-container").show();
    }
  }

  function updateFlashcard() {
    if (isFront) { // show Greek
      $("#flashcard-text").text((greekVocabList_fc[currentVocabIdx_fc]).fields.greek);
      $("#flashcard-card").css("background-color", "#eee");
    } else { // show English
      $("#flashcard-text").text(greekVocabList_fc[currentVocabIdx_fc].fields.english);
      $("#flashcard-card").css("background-color", "#fff");
    }
  }

  function updateVocabList_fc() {
    $.ajax({
      type: "GET",
      url: updateChapUrl, // defined in index.html
      dataType: "json",
      data: {
        "startingChapter": startingChapter_fc,
        "endingChapter": endingChapter_fc,
      },
      success: function (data) {
        greekVocabList_fc = shuffleCards(data, data.length);
        // reset current index
        currentVocabIdx_fc = 0;
        isFront = true;
        updateFlashcard();
        updateArchiveCheckbox();
        updateIndexText();
      }
    });
  }

  function changeStartingChapter_fc() {
    startingChapter_fc = document.getElementById("fc-chapter-start").value;
    // if the new starting chapter is greater than the ending chapter,
    // change the ending chapter to be the same as starting chapter
    if (startingChapter_fc > endingChapter_fc) {
      $("#fc-chapter-end").val(startingChapter_fc);
      endingChapter_fc = startingChapter_fc;
    }
    updateVocabList_fc();
  }

  function changeEndingChapter_fc() {
    endingChapter_fc = document.getElementById("fc-chapter-end").value;
    // if the new ending chapter is smaller than the starting chapter,
    // do not update greek vocabs
    if (endingChapter_fc < startingChapter_fc) {
      return;
    }
    updateVocabList_fc();
  }

  function flipCard() {
    // remove the archived vocab
    if ($("#archive-flag").is(":checked")) {
      greekVocabList_fc.splice(currentVocabIdx_fc, 1);
      // because a vocab is removed, decrease one index
      currentVocabIdx_fc -= 1;
    }
    // uncheck archive checkbox
    $("#archive-flag").prop("checked", false);

    if (!isFront) {
      // update index to next card
      if (currentVocabIdx_fc < greekVocabList_fc.length - 1) {
        currentVocabIdx_fc += 1;
      } else {
        currentVocabIdx_fc = 0;
      }
    }
    isFront = !isFront;
    updateFlashcard();
    updateArchiveCheckbox();
    updateIndexText();
  }

  $(document).ready(function() {
    updateVocabList_fc();
    $("#fc-chapter-start").on("change", changeStartingChapter_fc);
    $("#fc-chapter-end").on("change", changeEndingChapter_fc);
    $("#flashcard-card").click(flipCard);
  });
</script>
