{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% block title %}Greek{% endblock %}

{% block references %}
<link rel="stylesheet" href="{% static 'greek/css/style.css' %}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/bootstrap-tab-history.js' %}"></script>
<script type="text/javascript">
  let updateChapUrl = "{% url 'greek:changeChapterRange' %}";

  // A function to shuffle a random permutation of arr[]
  // Input:
  //   arr - an array of vocab
  //   n - the length of array
  // Output:
  //   arr - an array of randomized vocab
  function shuffleCards(arr, n) {
    /*
      Fisher-Yates shuffle Algorithm:
      To shuffle an array a of n elements (indices 0..n-1):
        for i from n - 1 downto 1 do
          j = random integer with 0 <= j <= i
          exchange a[j] and a[i]
      */
    let newArr = arr;
    for (let i = n - 1; i > 0; i--) {
      // A random number between min and max (both included)
      // Math.floor(Math.random() * (max - min + 1) ) + min
      let j = Math.floor(Math.random() * (i + 1))

      let temp = newArr[j];
      newArr[j] = newArr[i];
      newArr[i] = temp;
    }
    return newArr;
  }
</script>
<style>
  .table {
    table-layout: fixed;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1> Greek Vocabulary Helper</h1>

  <!-- NAVIGATION TABS -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#files" aria-controls="home" role="tab" data-toggle="tab">Files</a>
    </li>
    <li role="presentation"><a href="#list" aria-controls="home" role="tab" data-toggle="tab">Vocabulary</a></li>
    <li role="presentation"><a href="#flashcards" aria-controls="home" role="tab" data-toggle="tab">Flashcards</a></li>
    <li role="presentation"><a href="#multiple-choice" aria-controls="home" role="tab" data-toggle="tab">Multiple Choice</a></li>
  </ul>

  <!-- TAB PANES -->
  <div class="tab-content">

    <!-- FILES TAB -->
    {% include "./_files.html" %}

    <!-- VOCAB LIST TAB -->
    {% include "./_vocab_list.html" %}

    <!-- FLASHCARDS TAB -->
    {% include "./_flashcards.html" %}

    <!-- MULTIPLE CHOICE TAB -->
    {% include "./_multiple_choice.html" %}

  </div>
</div>
{% endblock %}
