{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% block title %}Greek{% endblock %}

{% block references %}
<link rel="stylesheet" href="{% static 'greek/css/style.css' %}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/bootstrap-tab-history.js' %}"></script>
<script type="text/javascript">

  var chapter;
  var urlString = "{% url 'greek:changeChapter' %}";

  // Changing the chapter reloads the table to load the vocab list in that chapter
  function changeChapter() {
    var chap = document.getElementById("chapter_select").value;

    $.ajax({
      type: "GET",
      url: urlString,
      dataType: "json",
      data: {
        "chapter": chap,
      },
      success: function (data) {
        $("#vocab_table td").remove();

        for (var row of data) {
          var fields = row['fields']
          $("#vocab_table tbody").append(
            "<tr>" + "<td>" + fields['greek'] + "</td>" + "<td>" + fields['english'] + "</td>" + "</tr>"
          );
        }
      }
    });
  }

  $(document).ready(function () {
    $("#chapter_select").on('change', changeChapter);
  });
</script>
<style>
  .table {
    table-layout: fixed;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1> Greek Vocabulary Helper</h1>

  <!-- NAVIGATION TABS -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#files" aria-controls="home" role="tab" data-toggle="tab">Files</a>
    </li>
    <li role="presentation"><a href="#list" aria-controls="home" role="tab" data-toggle="tab">Vocabulary</a></li>
    <li role="presentation"><a href="#flashcards" aria-controls="home" role="tab" data-toggle="tab">Flashcards</a></li>
    <!--
    <li role="presentation"><a href="#mc" aria-controls="home" role="tab" data-toggle="tab">Multiple Choice</a></li>
    -->
  </ul>

  <!-- TAB PANES -->
  <div class="tab-content">

    <!-- FILES TAB -->
    {% include "./_files.html" %}

    <!-- VOCAB LIST TAB -->
    {% include "./_vocab_list.html" %}

    <!-- FLASHCARDS TAB -->
    {% include "./_flashcards.html" %}

    <!-- MULTIPLE CHOICE TAB -->
    <!--
    <div id="mc" class="greek tab-pane" role="tabpanel">

    </div>
    -->
  </div>
</div>
{% endblock %}
