{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% block title %}Greek{% endblock %}

{% block references %}
<link rel="stylesheet" href="{% static 'greek/css/style.css' %}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/bootstrap-tab-history.js' %}"></script>
<style>
  .table {
    table-layout: fixed;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1> Greek Vocabulary Helper</h1>

  <!-- NAVIGATION TABS -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#files" aria-controls="home" role="tab" data-toggle="tab">Files</a>
    </li>
    <li role="presentation"><a href="#list" aria-controls="home" role="tab" data-toggle="tab">Vocabulary</a></li>
    <li role="presentation"><a href="#flashcards" aria-controls="home" role="tab" data-toggle="tab">Flashcards</a></li>
    <li role="presentation"><a href="#multiple-choice" aria-controls="home" role="tab" data-toggle="tab">Multiple Choice</a></li>
  </ul>

  <!-- TAB PANES -->
  <div class="tab-content">

    <!-- FILES TAB -->
    {% include "./_files.html" %}

    <!-- VOCAB LIST TAB -->
    {% include "./_vocab_list.html" %}

    <!-- FLASHCARDS TAB -->
    {% include "./_flashcards.html" %}

    <!-- MULTIPLE CHOICE TAB -->
    {% include "./_multiple_choice.html" %}

  </div>
</div>
{% endblock %}
