{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% block title %}Greek{% endblock %}
<link rel="stylesheet" href="{% static 'greek/css/style.css' %}" />

{% block scripts %}
<script type="text/javascript" src="{% static 'js/bootstrap-tab-history.js' %}"></script>
<script type="text/javascript">

  var chapter;
  var urlString = "{% url 'greek:changeChapter' %}";

  // Changing the chapter reloads the table to load the vocab list in that chapter
  function changeChapter() {
    var chap = document.getElementById("chapter_select").value;

    $.ajax({
      type: "GET",
      url: urlString,
      dataType: "json",
      data: {
        "chapter": chap,
      },
      success: function (data) {
        $("#vocab_table td").remove();

        for (var row of data) {
          var fields = row['fields']
          $("#vocab_table tbody").append(
            "<tr>" + "<td>" + fields['greek'] + "</td>" + "<td>" + fields['english'] + "</td>" + "</tr>"
          );
        }
      }
    });
  }

  $(document).ready(function () {
    $("#chapter_select").on('change', changeChapter);
  });
</script>
<style>
  .table {
    table-layout: fixed;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1> Greek Vocabulary Helper</h1>

  <!-- NAVIGATION TABS -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#files" aria-controls="home" role="tab" data-toggle="tab">Files</a>
    </li>
    <li role="presentation"><a href="#list" aria-controls="home" role="tab" data-toggle="tab">Vocabulary</a></li>
    <li role="presentation"><a href="#flashcard" aria-controls="home" role="tab" data-toggle="tab">Flashcards</a></li>
    <!--
    <li role="presentation"><a href="#mc" aria-controls="home" role="tab" data-toggle="tab">Multiple Choice</a></li>
    -->
  </ul>

  <!-- TAB PANES -->
  <div class="tab-content">

    <!-- FILES TAB -->
    <div id="files" class="greek tab-pane active" role="tabpanel">
      <div>
          <table class="table">
              <thead>
              <tr>
                <th>File</th>
                <th>Class</th>
              </tr>
              </thead>
              <tbody>
                {% for cf in class_files %}
                <tr>
                  <td><a href='{{cf.file.url}}'>{{ cf.label }}</a></td>
                  <td>{{ cf.for_class }}</td>
                </tr>
                {% empty %}
                  <i>No {{classname}} files to display.</i>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </div>

    <!-- VOCAB LIST TAB -->
    <div id="list" class="greek tab-pane" role="tabpanel">
      <form class="row">
        <div class="col-sm-2">
          Sort by chapter:
        </div>
        <div class="col-sm-1">
          <!-- Pick a chapter -->
          <select id="chapter_select" class="form-control" name="chapter" size="0">
            {% for i in chapters %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
          </select>
        </div>
      </form>
      <br />
      <table class="table vocab_table" id="vocab_table">
        <tr>
          <th>Greek</th>
          <th>English</th>
        </tr>
        {% for g in greekVocab %}
        <tr class="vocab_list" id="vocab_list">
          <td> {{g.greek}} </td>
          <td> {{g.english}} </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <!-- FLASHCARDS TAB -->
    <div id="flashcard" class="greek tab-pane" role="tabpanel">
      Flash cards
      <div class="flashcard">
        example
      </div>
    </div>

    <!-- MULTIPLE CHOICE TAB -->
    <!--
    <div id="mc" class="greek tab-pane" role="tabpanel">

    </div>
    -->
  </div>
</div>
{% endblock %}
