{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% block title %}Greek{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/bootstrap-tab-history.js' %}"></script>
<script type="text/javascript">

  var chapter;
  var urlString = "{% url 'greek:changeChapter' %}";

  // Changing the chapter reloads the table to load the vocab list in that chapter
  function changeChapter() {
    var chap = document.getElementById("chapter_select").value;
    var url = "/greek/?chap=" + chap;
    history.pushState({ urlPath: url }, "", url);

    $.ajax({
      type: "GET",
      url: urlString,
      ataType: "json",
      data: {
        "chapter": chap,
      },
      success: function (data) {
        console.log("chapter changed to", chap);
        updateTable(data);
      }
    });
  }

  function updateTable(data) {
    $("#vocab_list td").remove();
    $.each(data, function (key, value) {
      console.log(data);

      // var vocabKey = key;
      // var new_greek = value.greek;
      // var new_eng = value.english;
      // var new_chap = value.chapter;
      // var new_parsing = value.parsing;
      // $("#vocab_list td").append(
      //   "<tr><td>" + new_greek + "</td><td>" + new_eng + "</td><td>" + new_chap + "</td><td>" + new_parsing + "</td></tr>"
      // )
    })
  }

  $(document).ready(function () {
    $("#chapter_select").on('change', changeChapter);
  });
</script>
{% endblock %}

{% block content %}
<div class="container">
  <h1> Greek Vocab Helper</h1>

  <form class="row">
    <div class="col-sm-2">
      Sort by chapter:
    </div>
    <div class="col-sm-1">
      <!-- Pick a chapter -->
      <select id="chapter_select" class="form-control" name="chapter" size="0">
        {% for i in chapters %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
    </div>
  </form>

  <br />

  <table class="table">
    <tr>
      <th>Greek</th>
      <th>English</th>
      <th>Chapter</th>
      <th>Parsing</th>
    </tr>
    {% for g in greekVocab %}
    <tr class="vocab_list" id="vocab_list">
      <td> {{g.greek}} </td>
      <td> {{g.english}} </td>
      <td> {{g.chapter}} </td>
      <td> {{g.parsing}} </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}