{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}


{% block content %}

<h1>Manage Inspectable Houses</h1>
<br>
<div>
	<table>
		<tr>
			<th> Residence </th>
			<th> Type </th>			
			<th> Uninspectable </th>
		</tr>
		<form action="" method="POST">
		{% csrf_token %}
		<input type="submit" value="Submit" class="btn" name="mybtn">
		{% for house in inspectableHouses %}
			<tr>
				<td>{{ house.residence }}</td>
				<td>{{ house.residence_type }}</td>
				<td>{{ house.uninspectable }}</td>
				<td>
					<div class="form-group">
						<!--<label for="house.uninspectable">Uninspectable</label>-->
						<input type="checkbox" name="checks[]" value="{{ house.id }}">
					</div>
				</td>
			</tr>
		{% endfor %}
		</form>
	</table>

</div>


{% endblock %}


<form action="" method="POST">
    	{% csrf_token %}
		<div class="form-group">
			<label for="last_name">Last Name</label>
			<input type="text" name="last_name" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="first_name">First Name</label>
			<input type="text" name="first_name" class="form-control" required>
		</div>    		        
		<div class="form-group">
			<label for="prefect_number">Prefect Number</label>
			<input type="text" name="prefect_number" class="form-control" required>
		</div>
        <input type="submit" value="Submit" class="btn" name="mybtn">
</form>