.chapters-container {
  padding: 7px 0;
  display: flex;
  align-items: baseline;
}

.chapter-container {
  width: 100px;
}

.chapter-text {
  width: 50px;
}

.foot {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

/* Flashcards */

.flashcard-container {
  width: 400px;
}

#flashcard-card {
  border: 1px solid #095f80;
  min-height: 150px;
  margin-top: 30px;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#flashcard-text {
  font: 36px Arial, sans-serif;
  text-align: center;
  padding: 8px;
}

#archive-placeholder {
  width: 150px;
}

#flashcard-index {
  color: #aaa;
  text-align: right;
}

/* Multiple Choice */
#multiple-choice-container {
  padding: 25px 0;
}

#mc-options {
  padding: 8px 0;
}

#multiple-choice-meta-data {
  color: #aaa;
}