.flashcard-chapters {
  padding: 7px 0;
  display: flex;
  align-items: baseline;
}

.flashcard-chapter {
  width: 100px;
}

.flashcard-chapter-text {
  width: 50px;
}

.flashcard-container {
  width: 400px;
}

.flashcard-card {
  border: 1px solid #095f80;
  height: 150px;
  margin-top: 30px;
}

.flashcard-text {
  font: 36px Arial, sans-serif;
  line-height: 150px;
  text-align: center;
}

.flashcard-number {
  color: #aaa;
  text-align: right;
  padding: 8px 0;
}

.flashcard-front {
  background: #eee;
}

.flashcard-back {
  background: #fff;
}
