{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}
Check Exceptions
{% endblock %}

{% block content %}
  {% if exception_to_service|length > 0%}
    <h3>Assignments Violating Active Exceptions</h3>
    <table class="table">
      <tr>
        <td> Exception Name </td>
        <td> Start Date </td>
        <td> End Date </td>
        <td> Violating Assignment(s) </td>
      </tr>
      {% for exception, assignment in exception_to_service.items %}
        <tr>
          <td>{{ exception.name }}</td>
          <td>{{ exception.start }}</td>
          <td>{{ exception.end }}</td>
          <td>{{ assignment }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h3>No assignments are violating active exceptions.</h3>
  {% endif %}
{% endblock %}
