{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
{{ form.media }}

<script type="text/javascript">
  function updateCountdown() {
    var remaining = {{rem_limit}} - jQuery('#id_remembrance_text').val().length;
    jQuery('#remaining_chars').text(remaining + ' char remaining.');
  }

  $( document ).ready(() => {
    {% if read_only %}
      $('#id_grad_form *').attr("disabled", true);
    {% endif %}
    $('#id_remembrance_text').attr("placeholder", "maximum " + {{rem_limit}} + " characters")
    $('#id_remembrance_text').attr("maxlength", {{rem_limit}});
    updateCountdown()
    $('#id_remembrance_text').change(updateCountdown);
    $('#id_remembrance_text').keyup(updateCountdown);
  });


</script>

{% endblock %}

{% block references %}
<style type="text/css">
  #remaining_chars{
    display: inline;
  }
</style>
{% endblock%}

{% block content %}
<h2>{{ page_title }}</h2>
<h3>Max: {{rem_limit}} characters
{% if object.due_date %}
  <br>Due: {{ object.due_date }}
{% endif %}
</h3>
<form id="id_grad_form" action="" method="post">
  {% csrf_token %}

    <p>Prayerfully consider your remembrance, which should express your experience and be in accordance to the spirit of the Training.</p>
    <p>Acceptable quotes must be from <b>the Bible or the hymnal only</b>. You must list the reference for your quote.</p>

    <p><u>Remembrances that are verses</u> must be:
    <br>1) an entire verse, OR 
    <br>2) the first part of a verse including the beginning of the verse, OR
    <br>3) from part way in a verse to the very end of the verse.</p>

    <p>Example of a remembrance that is not usable because it is in the middle of the verse: "May it happen to me according to your word." Luke 1:38b</p>

    <p>Example of a remembrance that is not usable as it cuts off the beginning of a verse: "For this very reason also, adding all diligence, supply bountifully in your faith virtue." 2 Pet. 1:5</p>

    <p><u>Remembrances that are hymns</u> must be the entire line or lines from a stanza or chorus.
    <br>Do not omit the beginning or the end of any line. You may choose any line or lines within a stanza or chorus; you do not need to start with the 1st line but can, for instance, use the 3rd line of a chorus.</p><br>


    <div class="row"><div class="col-xs-12">
      <p><strong>Sending Locality</strong> {{object.trainee.locality}}<br>
      Please fellowship with the front office if this is incorrect.
      </p>
    </div></div>

    <div class="row"><div class="col-xs-12">
      <p><strong>Remembrance</strong> {{form.remembrance_text}} <span id="remaining_chars"></span></p>
    </div></div>

    <div class="row"><div class="col-xs-12">
      <p><strong>Reference</strong> {{form.remembrance_reference}}</p>
    </div></div>

    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-save">{{button_label|safe}}</button>
      </div>
    </div>
  </form>
  {% endblock %}
