<div class="question_section">
<li>{{ question.prompt|linebreaks }}</li>
<b> (Points: {{ question.points }})</b>
<div class="clearfix"></div>
{% if role == 'Take' and not is_finalized %}
<textarea class="form-control exam-response" cols="100" rows="10"
	placeholder="Type your response here." name="response">{% if preview is False %}{{ response|get_item:forloop.counter }}{% endif %}
</textarea>
<div class="clearfix"></div>
<b>Word Count: </b><span class="char_count"></span>
<div class="clearfix"></div>
{% else %}
<blockquote>{{ response|get_item:forloop.counter|linebreaks }}</blockquote>
<b>Word Count: </b>{{ response|get_item:forloop.counter|wordcount }}</span>
{% endif %}
</div>