{# https://stackoverflow.com/questions/19533402/naming-rules-for-html5-custom-data-attributedata #}
{% if request.user.gender == "S" and leaveslip.trainee.gender == "S" %}
<div id="ta-sister-actions">
  <button type="button" data-transfer-ta="{{leaveslip.trainee.TA_secondary.id}}" data-ls-action="approve-transfer" data-ls-type="{{leaveslip.classname}}" data-ls-id="{{leaveslip.id}}" class="ls-action btn-lg btn-primary btn-save" id="approve-transfer-ls">Approve & Transfer</button>
  <button type="button" data-transfer-ta="{{leaveslip.trainee.TA_secondary.id}}" data-ls-action="transfer" data-ls-type="{{leaveslip.classname}}" data-ls-id="{{leaveslip.id}}" class="ls-action btn-lg btn-primary btn-save" id="transfer-ls">Transfer</button>
</div>
{% else %}
<!-- I'm commenting out this block of code. David Tien originally wrote it and he's not sure why it was needed
without using a time machine because a TA sister should never get brother's leave slip. In the event that it does (like it has been), we should probably not allow the TA sister to accept or deny - rather only let them transfer it. That being said, it means there's another bug causing brother group leave slips to be assigned to TA sisters. We'll leave this block of code to allow TA sisters to transfer in case this does happen. -->
<!--   <button type="button" data-ls-action="approve" data-ls-type="{{leaveslip.classname}}" data-ls-id="{{leaveslip.id}}" title="Approve" class="ls-action btn-lg btn-success" id="approve-ls">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  </button>
  <button type="button" data-ls-action="deny" data-ls-type="{{leaveslip.classname}}" data-ls-id="{{leaveslip.id}}" title="Deny" class="ls-action btn-lg btn-danger" id="deny-ls">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button> -->
  <button type="button" data-transfer-ta="{{leaveslip.trainee.TA_secondary.id}}" data-ls-action="transfer" data-ls-type="{{leaveslip.classname}}" data-ls-id="{{leaveslip.id}}" class="ls-action btn-lg btn-primary btn-save" id="transfer-ls">Transfer</button>

{% endif %}

{% if leaveslip.status != 'F'%}
  <button type="button" data-ls-action="fellowship" data-ls-type="{{leaveslip.classname}}" data-ls-id="{{leaveslip.id}}" title="Mark for fellowship" class="ls-action btn-lg btn-warning" id="fellowship-ls">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </button>
{% else %}
  <button type="button" data-ls-action="unfellowship" data-ls-type="{{leaveslip.classname}}" data-ls-id="{{leaveslip.id}}" title="Unmark for fellowship" class="ls-action btn-lg btn-warning-oppo" id="unfellowship-ls">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </button>
{% endif %}

<button type="button" data-ls-action="delete" data-ls-type="{{leaveslip.classname}}" data-ls-id="{{leaveslip.id}}" title="Delete" class="delete-slip btn-lg btn-danger" id="delete-ls">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>