{% extends "leaveslips/leaveslip_update.html" %}

{% block scripts %}
  {{ block.super }}
  {% include 'leaveslips/_ta_actions_js.html' with individual=False %}
{% endblock %}

{% block ls_link %}
href="{{next_ls_url}}"
{% endblock %}

{% block references %}
  {{ block.super }}
  {{ form.media }}
  <style type="text/css" media="screen">
    li[title="{{ leaveslip.trainee.full_name }}"] {
      background-color: #FFDB77 !important;
    }
  </style>
{% endblock %}

{% block leaveslip_script %}
  <script>
    function appendSubmitter() {
      $("label[for|='id_trainees']").append(
        '<span id="submitter_display" style="margin-left: 10px; font-size: 12px;">Submitter: {{ leaveslip.trainee.full_name }}</span>');
      $("#id_trainees").djangoSelect2({
        width: "100%"
      });
    }

    function updatePerfectAttendanceCheckBox() {
      var exceptionalReasons = ['CONF', 'FWSHP', 'SERV', 'TTRIP'];
      var reason = $('#id_type').val();
      // set the checkbox by default for the reason that does not
      // count for the perfect attendance
      if (exceptionalReasons.includes(reason)) {
        $('#id_does_not_count').prop("checked", true);
      } else {
        $('#id_does_not_count').prop("checked", false);
      }
    }

    $(document).ready(() => {
      appendSubmitter();
      updatePerfectAttendanceCheckBox();
    });

    $('#id_type').change(function() {
      updatePerfectAttendanceCheckBox();
    });
  </script>
{% endblock %}
