{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block references %}
<style type="text/css">

  h2 {
    margin: 42px 0px;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(3, 35px 25px 17px) 27px 35px 25px 17px 35px 25px;
    grid-column-gap: 85px;
    column-gap: 85px;
    align-items: end;
  }

  label[for=first-name-text] {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #first-name-text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  label[for=last-name-text] {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #last-name-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  label[for=id_cell_phone] {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  #id_cell_phone {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  label[for=id_home_phone] {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  #id_home_phone {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }

  label[for=id_email] {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }

  #id_email {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }

  label[for=id_home_locality] {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }

  #id_home_locality {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
  }

  label[for=id_home_address] {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
  }

  #id_home_address {
    grid-column: 1 / 2;
    grid-row: 12 / 13;
  }

  label[for=id_home_city] {
    grid-column: 2 / 3;
    grid-row: 11 / 12;
  }

  #id_home_city {
    grid-column: 2 / 3;
    grid-row: 12 / 13;
  }

  label[for=id_home_state] {
    grid-column: 1 / 2;
    grid-row: 14 / 15;
  }

  #id_home_state {
    grid-column: 1 / 2;
    grid-row: 15 / 16;
  }

  label[for=id_home_zip] {
    grid-column: 2 / 3;
    grid-row: 14 / 15;
  }

  #id_home_zip {
    grid-column: 2 / 3;
    grid-row: 15 / 16;
  }

  #submit{
    display: inline-block;
    float: left;
  }

  label[for=id_intent_0], label[for=id_intent_1], label[for=id_intent_2], label[for=id_intent_3] {
    color: #102C38;
    text-transform: none;
    font-size: 16px;
    font-weight: normal;
  }

  .itin-grid {
    display: grid;
    grid-template-rows: 35px 25px;
    grid-row-gap: 8px;
    row-gap: 8px;
    grid-auto-rows: 25px;
    margin-top: 30px;
  }

  .itin-row {
    display: grid;
    grid-template-columns: 140px 140px 350px;
    grid-column-gap: 18px;
    column-gap: 18px;
  }

  #post_intent_comments_label {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  select {
    background-color: white;
  }

</style>
{% endblock %}
{% block scripts %}
{{ block.super }}
{{ form.media }}
{{ itinerary_forms.0.media }}

<script type="text/javascript">

  function date_formatter(dt) {
    date = dt.toLocaleDateString('en-US', options)
    mon = date.slice(0, 2)
    dat = date.slice(3, 5)
    yer = date.slice(6, 10)
    return mon + "/" + dat + "/" + yer
  }

  var dt_options = {
    timepicker: false,
    format: 'm/d/Y',
    formatDate: 'm/d/Y',
    defaultSelect: true,
  };

  var options = {year: 'numeric', month: '2-digit', day: '2-digit' };

  $(document).ready(() => {

    // post-training intent javascript
    show_hide_post_interim();
    change_post_intent_comments_labels();
    $('input[type=radio][name=intent]').change(show_hide_post_interim);
    $('#id_post_training_intentions').change(change_post_intent_comments_labels);

    // interim itinerary javascript
    var interim_start = "{{interim_start|date:'m/d/Y'}}";
    var interim_end = "{{interim_end|date:'m/d/Y'}}";

    if ($("#id_start").val() == 0 || $("#id_end").val() == 0) {
      $("#id_start").val(interim_start);
      $("#id_end").val(interim_end);
    }

    $("[name='start']").prop( "disabled", true );
    $("[name='start']").addClass('disabled');

    $(".actual-itin").on('change', '#id_end', change_end_date)

    // $(".itin-row #id_end").datepicker({
    //   onSelect: function(dateText) {
    //     change_end_date(dateText);
    //     housekeeping();
    // });

  });

  function show_hide_post_interim(){
    if($('#id_intent_1, #id_intent_2, #id_intent_3').is(':checked')) {
      $('#post_intent_comments_label').show();
      $("#id_post_intent_comments").show();
      $('label[for=id_post_training_intentions]').show();
      $("#id_post_training_intentions").show();
      $("#id_post_training_intentions").attr("required", true);
      $("#id_post_intent_comments").attr("required", true);
    } else {
      $('#post_intent_comments_label').hide();
      $("#id_post_intent_comments").hide();
      $('label[for=id_post_training_intentions]').hide();
      $("#id_post_training_intentions").hide();
      $("#id_post_training_intentions").attr("required", false);
      $("#id_post_intent_comments").attr("required", false);
    }
  }

  function change_post_intent_comments_labels() {
    intent = $('#id_post_training_intentions').val()

    text = "Please explain"
    if (intent == "USC" || intent == "OCC") {
      text = "Please enter the campus and approximate date available to go"
    } else if (intent == "LSM") {
      text = "Please enter the section of service"
    } else if (intent == "XB" || intent == "BFA") {
      text = "Comments"
    } else if (intent == "JOB") {
      text = "Please enter the locality in which you'll be working"
    } else if (intent == "SCH") {
      text = "Please enter the locality, name of school, and program entering"
    }

    $('#post_intent_comments_label').text(text)
  }

  function change_end_date(end_field) {
    var row_number = $(this).parent().attr('id').split("-").pop();
    var end_val = $(this).val();
    var start_val = $(this).parent().find("#id_start").val();
    var reset = null;

    if (end_val == start_val || row_number == "0" && start_val > end_val) {
      var newDate = new Date(Date.parse(start_val) + 86400000);
      $(this).val($.datepicker.formatDate('mm/dd/yy', newDate));
    } else if (start_val > end_val) {
      reset = end_val;
      $(this).val(end_val = start_val);
      start_val = reset;
    }

    var interim_end = "{{interim_end|date:'m/d/Y'}}";
    if (end_val > interim_end) {
      end_val = $(this).val(end_val = interim_end);
    }

    var next = $(this).parent().next(".itin-row").find("#id_start");
    if (next.length == 0 && end_val != interim_end) {
      next = $(this).parent().clone().appendTo(".actual-itin");
      next_row = parseInt(row_number) + 1;
      next.removeAttr('id').attr('id', 'row-' + next_row);

      var nextStartDate = new Date(Date.parse(end_val) + 86400000);
      next.find("#id_start").val($.datepicker.formatDate('mm/dd/yy', nextStartDate));
      next.find("#id_end").val(interim_end);
    }
  }

</script>
{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

{% if form.errors %}
<!-- Error messaging -->
  <div id="errors">
    <div class="inner">
      <p>There were some errors in the information you entered. Please correct the following:</p>
      {{ form.non_field_errors }}
      <ul>
        {% for field in form %}
          {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
<!-- /Error messaging -->
{% endif %}

{% for iform in itinerary_forms %}

{% if iform.errors %}
<!-- Error messaging -->
  <div id="errors">
    <div class="inner">
      <p>There were some errors in the information you entered. Please correct the following:</p>
      {{ iform.non_field_errors }}
      <ul>
        {% for field in iform %}
          {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
<!-- /Error messaging -->
{% endif %}


{% endfor %}

<form id="id_interim_intentions_form" method="post" action="">
  {% csrf_token %}

  <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 30px">
    <li role="presentation" class="active"><a href="#contact-info" aria-controls="home" role="tab" data-toggle="tab">Contact Information</a></li>
    <li role="presentation"><a href="#int-itin" aria-controls="profile" role="tab" data-toggle="tab">Interim Itinerary</a></li>
  </ul>

  <div class="tab-content">

    <div id="contact-info" class="tab-pane active" role="tabpanel">
      <p>Please verify that your contact information is up to date.</p>

      <div class="new-form contact-grid">
        <label for="first-name-label">First Name</label>
        <div class="text readonly" id="first-name-text">{{request.user.firstname}}</div>

        <label for="last-name-text">Last Name</label>
        <div class="text readonly" id="last-name-text">{{request.user.lastname}}</div>

        {{ form.cell_phone.label_tag }}
        {{ form.cell_phone }}

        {{ form.home_phone.label_tag }}
        {{ form.home_phone }}

        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.home_locality.label_tag }}
        {{ form.home_locality }}

        {{ form.home_address.label_tag }}
        {{ form.home_address }}

        {{ form.home_city.label_tag }}
        {{ form.home_city }}

        {{ form.home_state.label_tag }}
        {{ form.home_state }}

        {{ form.home_zip.label_tag }}
        {{ form.home_zip }}
      </div>
    </div>

    <div id="int-itin" class="tab-pane" role="tabpanel">
      <p>Please be thorough in filling out the schedule below and include brief descriptions, locations with pertinent addresses, phone numbers, etc. for our ease in contacting you. The following return dates have been set to help you have a smooth transition into the next term, to give you additional time to unpack and settle into your house before pre-training, and to prepare your house for incoming trainees.</p>

      <p>Second year trainees return by <strong>{{admin.date_2yr_return|date:'l, F d'}} at {{admin.date_2yr_return|date:'g:i a'}}</strong><br/>
      First year trainees return by <strong>{{admin.date_1yr_return|date:'l, F d'}} at {{admin.date_1yr_return|date:'g:i a'}}</strong></p>

      <p>You may arrive as early as <strong>{{admin.earliest_arrival_date|date:'l, F d'}}</strong> but not later than the date and time above. Those who arrive before <strong>{{admin.earliest_arrival_date|date:'l, F d'}}</strong> must be available to serve. The next term of the Training begins on <strong>{{admin.term_begin_date|date:'l, F d'}}</strong>.</p>

      <div class="new-form">
        <div class="itin-grid actual-itin">
          <div class="itin-row">
            <label for="start_date">Start Date</label>
            <label for="end_date">End Date</label>
            <label for="notes_comments">Notes/Comments</label>
          </div>

          {% for itin_form in itinerary_forms %}
            <div class="itin-row" id="row-{{forloop.counter0}}">
              {{itin_form.start}}
              {{itin_form.end}}
              {{itin_form.comments}}
            </div>
          {% endfor %}
        </div>
        <br>
        <p>Note: if you set a date after the last date of the interim (auto-filled) the last row will be removed. Date changes will be automatically sorted. Additional rows will be added each time the end date is changed.</p>

        <label for="id_intent" style="margin-top: 30px">Intent to Return</label><br>
        {% for c in form.intent %}
          {{c}}&nbsp;&nbsp;
        {% endfor %}<br>

        <div class="itin-grid">
            {{form.post_training_intentions.label_tag}}
            {{form.post_training_intentions}}
            <p id="post_intent_comments_label">
              {{ form.post_intent_comments.label }}
            </p>
            {{form.post_intent_comments}}
        </div>

      </div>

    </div>
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-save" id="submit">{{button_label|safe}}</button>
</form>
{% endblock %}
